{% extends "base.html" %}
{% from "form_macros.html" import render_field %}
{% block title %}
Index
{% endblock %}
{% block content %}


<div class="row">
    <div class="col-lg-3 offset-lg-2 my-5">
        <form action="{{ url_for('main.home') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ render_field(form.name) }}
            </div>
            <div class="form-group">
                {{ render_field(form.email) }}
            </div>
            <div class="form-group">
                {{ render_field(form.password) }}
                <p> Password must have at least 8 characters including a number, lowercase and uppercase
                    letter.</p>
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>


        <h4>OR</h4>
        <div>
            <a href="{{ url_for('auth.initiate', service='google') }}">
                <button class="btn btn-success btn-block">Sign up with Google</button>
            </a>
        </div>
        <br>
        <div>
            <a href="{{ url_for('auth.initiate', service='github') }}">
                <button class="btn btn-success btn-block">Sign up with Github</button>
            </a>
        </div>
    </div>

</div>

{% endblock %}
